/*
	Mailbox v0.0.3
	Copyright 2014 Leonard Lamprecht - https://github.com/lmprht/mailbox
	license: http://opensource.org/licenses/mit-license.php
*/

html, body {
	overflow-x: hidden;
	margin: 0;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

#mailbox {
	position: fixed;
	background: #fff;
	height: 100%;
	width: 300px;
	right: -300px;
	top: 0;
	padding: 0 30px 0 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 99999;
	border-left: 2px solid #F1F1F2;
}

#mailbox label {
	margin-top: 30px;
	display: block;
	color: #dbdbdb;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
}

#mailbox input,
#mailbox textarea {
	border: 0;
	border-bottom: 1px solid #dbdbdb;
	resize: none;
	display: block;
	width: 100%;
	padding: 0 0 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 5px;
}

#mailbox input:focus,
#mailbox textarea:focus {
	outline: none;
}

#mailbox input:disabled,
#mailbox textarea:disabled {
	cursor: not-allowed;
	background: #fff;
}

#mailbox label.warning {
	color: #ed8484;
}

#mailbox .send {
	display: block;
	border: 0;
	background-color: #50a4e5;
	text-align: center;
	color: #fff;
	padding: 12px 0 12px 0;
	margin-top: 100px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	border-bottom: 2px solid #4693ce;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#mailbox .send:hover {
	background-color: #4b9bd8;
	border-color: #4088bc;
}

#mailbox .send:active {
	border: 0;
	outline: 0;
	margin-top: 102px;
}

#mailbox .send:focus {
	outline: 0;
}

#mailbox .send span {
	position: absolute;
	margin-left: 2px;
}

#mailbox .success {
	text-align: center;
	display: none;
	padding-top: 70px;
}

#mailbox .success p {
	margin-top: 30px;
	font-size: 18px;
}

#mailbox span.close {
	position: absolute;
	font-style: normal;
	right: 15px;
	top: 10px;
	cursor: pointer;
}

#mailbox .success span {
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 170px;
	background: #00b7ea;
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3));
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
	border: 10px solid #f7f7f7;
	color: #fff;
	font-size: 110px;
}
